<!DOCTYPE html>
<html>
<head>
  <title>Artstore</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">
    <%= render "common/navbar" %>
    <%= notice_message %>
    
    <div class="row">
      <!--
      <div class="col-md-2">
        <ul class="nav nav-pills nav-stacked" style="max-width: 300px;">          
          <li> <%= link_to("Products", admin_products_path) %> </li>
          <li> <%= link_to("Orders", admin_orders_path) %> </li>
        </ul>
      </div>
      -->
      <div class="col-md-3">
        <div class="list-group">
          <p class="lead">後台管理</p>
          <%= link_to("產品管理", admin_products_path, class: 'list-group-item') %>
          <%= link_to("訂單維護", admin_orders_path, class: 'list-group-item') %>
          <%= link_to("網站資訊維護", admin_infos_path, class: 'list-group-item') %>
        </div>
      </div>      

      <div class="col-md-9">

        <%= yield %>
      </div>
      
    </div>





  </div>
</body>
</html>
